
<h1>Listing all the Posts <h1>

<div class="body">
<%= link_to new_user_post_path(@user), class: "link" do %>
    <button type="button" class="see-all-posts-button">Create new post</button>
<% end %>
        <div class="user_info">
            <div class="img_container">
            <% if @user.photo.nil? %>
            <%= image_tag "https://bit.ly/3WU8Zoi", class:"user_image"%>
          <% else %>
          <%= image_tag @user.photo, class:"user_image" %>
          <% end %>
            </div>
            <div class="user_post">
                <div class="user_name">
                    Username: <%= @user.name %>
                </div>
                <div class="post_count">
                Number of posts: <%= @user.posts_counter %>
                </div>
            </div>
        </div>

        <div class="user_bio">
         <p>Bio</p>
         <p><%= @user.bio %></p>
        
        </div>

        <div class="posts_container">

            <% @posts.each_with_index do |post, index| %>
                <div class="posts_wrapper">
                    <div class="post_wrapper">
                    <p class="post_number">post: <%= post.id %></p>
                    <p class="post_number"><%= post.title %></p>
                    <p class="post_number"><%= post.text %></p>
                    <div class='comments_likes'>
                        <span>comments: <%= post.comments_counter %></span>
                        <span>likes: <%= post.likes_counter %></span>
                    </div>
                    </div>
                <div>
            <% end %>
        </div>

        <%= link_to user_posts_path(@user) do %>
            <button type="button" class="see-all-posts">See all posts</button>
        <% end %>
</div>