<h1>Listing all the Posts <h1>

<div class="body">
        <div class="user_info">
            <div class="img_container">
                <%= image_tag @user.photo, class:"user_image" %>
            </div>
            <div class="user_post">
                <div class="user_name">
                    Username: <%= @user.name %>
                </div>
                <div class="post_count">
                Number of posts: <%= @user.posts_counter %>
                </div>
            </div>
        </div>

        <p class=user_bio><%= @user.bio %></p>

        <div class="post_wrapper">

            <% @posts.each_with_index do |post, index| %>
                <div class="posts_container">
                    <p class="post_number">post: <%= post.id %></p>
                    <p class="post_number"><%= post.title %></p>
                    <div>
                        <span>comments: <%= post.comments_counter %></span>
                        <span>likes: <%= post.likes_counter %></span>
                    </div>
                <div>
            <% end %>
        </div>

        <%= link_to user_posts_path(@user) do %>
            <button type="button" class="see-all-posts">See all posts</button>
        <% end %>
</div>