
<h1>All comments for the post</h1>

<div class="post_user_wrapper">
    <span>post <%= @post.id %> by: </span>
    <span>post <%= @user.name %></span>
    <p><%= @post.title %></p>
    <div class="likes_comments_post">
        <span>Comments counter: <%= @post.comments_counter %>,</span>
        <span>Likes_counter: <%= @post.likes_counter %></span>
    </div> 
    <div class='add_like_wrapper'>
        <%= render "likes/like" %>
    </div>
</div>
<% if can? :destroy, @post %>
            <%= form_with model: @post, url: user_post_path(@user, @post), method: :delete do |form| %>
              <%= form.submit "Delete Post", class: "delete-button" %>
            <% end %>
          <% end %>

<div class="post_comments_wrapper">
    <% @comments.includes(:author).each do |comment| %>
            <div class="post_comments">
                <span><%= comment.author.name %>: </span>
                <span><%= comment.text %></span>
            <div>  
    <% end %>
 <div>

<div class='add_comment_wrapper'>
 <%= render "comments/form" %>
</div>

